# =========================================================
# MBA.Modulo4 - Docker Compose environment variables
# Copy this file to .env and adjust as needed.
# =========================================================

# External ports (host -> container 8080)
AUTH_API_PORT=5020
CONTEUDO_API_PORT=5137
ALUNO_API_PORT=5236
PAGAMENTOS_API_PORT=5190
BFF_API_PORT=5293
WEBAPP_MVC_PORT=5132

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
